In [1]:
import pandas as pd

In [13]:
df_edtech = pd.read_excel('./cost_of_courses.xlsx')
df_edtech.head()

,S.No,Institute,Institute_brand_value,Course_Offered,Course_level,No_of_Instructors,Total_Course_Hours,Mode of Course,Webportal Access,Certification Exam,...,Infrastructure Cost,Technical Requirements,Monthly(Rent),Monthly(Bills),Advertising/Marketing,Maintenance,Non_teaching_staff(salary),Level,teaching_staff(salary),Price
0,1,Ineuron,Low,Data_Science,Intermediate,2,400,Offline,Yes,Yes,...,200000,100000,70000,8000,5000,30000,40000,A,50000,35000
1,2,Great_Learning,High,Ethical_hacking,Intermediate,4,300,Online,Yes,Yes,...,200000,100000,100000,8000,10000,30000,60000,A,80000,70000
2,3,Edyoda,Medium,AI,Advance,2,600,Online,Yes,Yes,...,200000,100000,80000,8000,5000,30000,40000,A,60000,45000
3,4,Edyoda,Medium,Tableau,Beginers,2,90,Offline,Yes,Yes,...,200000,100000,80000,8000,5000,30000,40000,B,50000,25000
4,5,Ineuron,Low,AI,Advance,2,600,Online,Yes,Yes,...,200000,100000,70000,8000,5000,30000,40000,B,40000,45000

In [6]:
df_edtech['Mode of Course'].unique()

array(['Offline', 'Online'], dtype=object)

In [3]:
df_edtech.isna().sum()

S.No                          0
Institute                     0
Institute_brand_value         0
Course_Offered                0
Course_level                  0
No_of_Instructors             0
Total_Course_Hours            0
Mode of Course                0
Webportal Access              0
Certification Exam            0
Placement Offered             0
Licencing and Registration    0
Infrastructure Cost           0
Technical Requirements        0
Monthly(Rent)                 0
Monthly(Bills)                0
Advertising/Marketing         0
Maintenance                   0
Non_teaching_staff(salary)    0
Level                         0
teaching_staff(salary)        0
Price                         0
dtype: int64

In [4]:
df_edtech.describe()

,S.No,No_of_Instructors,Total_Course_Hours,Licencing and Registration,Infrastructure Cost,Technical Requirements,Monthly(Rent),Monthly(Bills),Advertising/Marketing,Maintenance,Non_teaching_staff(salary),teaching_staff(salary),Price
count,150.000000,150.000000,150.000000,150.0,150.0,150.0,150.000000,150.0,150.000000,150.0,150.000000,150.000000,150.000000
mean,75.500000,2.786667,327.200000,5000.0,200000.0,100000.0,83266.666667,8000.0,7093.333333,30000.0,47866.666667,56066.666667,42733.333333
std,43.445368,0.840156,169.800989,0.0,0.0,0.0,10837.213210,0.0,2143.655119,0.0,8401.555199,13654.247645,17730.142183
min,1.000000,2.000000,60.000000,5000.0,200000.0,100000.0,70000.000000,8000.0,5000.000000,30000.0,40000.000000,30000.000000,25000.000000
25%,38.250000,2.000000,150.000000,5000.0,200000.0,100000.0,80000.000000,8000.0,5000.000000,30000.0,40000.000000,50000.000000,30000.000000
50%,75.500000,3.000000,350.000000,5000.0,200000.0,100000.0,80000.000000,8000.0,8000.000000,30000.0,50000.000000,60000.000000,35000.000000
75%,112.750000,4.000000,400.000000,5000.0,200000.0,100000.0,100000.000000,8000.0,10000.000000,30000.0,60000.000000,70000.000000,60000.000000
max,150.000000,4.000000,600.000000,5000.0,200000.0,100000.0,100000.000000,8000.0,10000.000000,30000.0,60000.000000,80000.000000,80000.000000

In [5]:
df_edtech.dtypes

S.No                           int64
Institute                     object
Institute_brand_value         object
Course_Offered                object
Course_level                  object
No_of_Instructors              int64
Total_Course_Hours             int64
Mode of Course                object
Webportal Access              object
Certification Exam            object
Placement Offered             object
Licencing and Registration     int64
Infrastructure Cost            int64
Technical Requirements         int64
Monthly(Rent)                  int64
Monthly(Bills)                 int64
Advertising/Marketing          int64
Maintenance                    int64
Non_teaching_staff(salary)     int64
Level                         object
teaching_staff(salary)         int64
Price                          int64
dtype: object

In [10]:
df_edtech.columns

Index(['S.No', 'Institute', 'Institute_brand_value', 'Course_Offered',
       'Course_level', 'No_of_Instructors', 'Total_Course_Hours',
       'Mode of Course', 'Webportal Access', 'Certification Exam',
       'Placement Offered', 'Licencing and Registration',
       'Infrastructure Cost', 'Technical Requirements', 'Monthly(Rent)',
       'Monthly(Bills)', 'Advertising/Marketing', 'Maintenance',
       'Non_teaching_staff(salary)', 'Level', 'teaching_staff(salary)',
       'Price'],
      dtype='object')

In [14]:
df_edtech.drop(['S.No', 'Institute', 'Webportal Access', 'Level'], axis=1, inplace=True)
df_edtech.head()

,Institute_brand_value,Course_Offered,Course_level,No_of_Instructors,Total_Course_Hours,Mode of Course,Certification Exam,Placement Offered,Licencing and Registration,Infrastructure Cost,Technical Requirements,Monthly(Rent),Monthly(Bills),Advertising/Marketing,Maintenance,Non_teaching_staff(salary),teaching_staff(salary),Price
0,Low,Data_Science,Intermediate,2,400,Offline,Yes,Yes,5000,200000,100000,70000,8000,5000,30000,40000,50000,35000
1,High,Ethical_hacking,Intermediate,4,300,Online,Yes,No,5000,200000,100000,100000,8000,10000,30000,60000,80000,70000
2,Medium,AI,Advance,2,600,Online,Yes,Yes,5000,200000,100000,80000,8000,5000,30000,40000,60000,45000
3,Medium,Tableau,Beginers,2,90,Offline,Yes,No,5000,200000,100000,80000,8000,5000,30000,40000,50000,25000
4,Low,AI,Advance,2,600,Online,Yes,No,5000,200000,100000,70000,8000,5000,30000,40000,40000,45000

In [15]:
# separating x and y
x = df_edtech.drop('Price', axis=1)
y = df_edtech['Price']

In [16]:
# train test split
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [45]:
df_edtech['Price'].unique()

array([35000, 70000, 45000, 25000, 30000, 80000, 32000, 65000, 60000])

In [41]:
df_edtech.dtypes

Institute_brand_value         object
Course_Offered                object
Course_level                  object
No_of_Instructors              int64
Total_Course_Hours             int64
Mode of Course                object
Certification Exam            object
Placement Offered             object
Licencing and Registration     int64
Infrastructure Cost            int64
Technical Requirements         int64
Monthly(Rent)                  int64
Monthly(Bills)                 int64
Advertising/Marketing          int64
Maintenance                    int64
Non_teaching_staff(salary)     int64
teaching_staff(salary)         int64
Price                          int64
dtype: object

In [18]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

ohe = OneHotEncoder()

ohe.fit(x[['Institute_brand_value', 'Course_Offered', 'Course_level','Mode of Course', 'Certification Exam', 'Placement Offered']])

OneHotEncoder()

In [19]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_), ['Institute_brand_value', 'Course_Offered', 'Course_level','Mode of Course', 'Certification Exam', 'Placement Offered']), 
                                                    remainder='passthrough')

##### Random Forest

In [20]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

rf_rg = RandomForestRegressor()

In [21]:
rf_pipe = make_pipeline(column_trans, StandardScaler(), rf_rg)

In [22]:
rf_pipe.fit(x_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['High', 'Low', 'Medium'], dtype=object),
                                                                            array(['AI', 'Data_Science', 'Ethical_hacking', 'Full_stack', 'Tableau'],
      dtype=object),
                                                                            array(['Advance', 'Beginers', 'Intermediate'], dtype=object),
                                                                            array(['Offline', 'Online'], dtype=object),
                                                                            array(['No', 'Yes'], dtype=object),
                                                                            array(['No', 'Yes'], dtype=object)]),
                                                  ['Institute_brand_value',
                                                   'Course_Offered',
                                                   'Course_level',
                                                   'Mode of Course',
                                                   'Certification Exam',
                                                   'Placement Offered'])])),
                ('standardscaler', StandardScaler()),
                ('randomforestregressor', RandomForestRegressor())])

In [23]:
y_pred = rf_pipe.predict(x_test)

In [24]:
# test accuracy
print('MAE_rf: ', mean_absolute_error(y_test, y_pred))
print('MSE_rf: ', mean_squared_error(y_test, y_pred))
print('r2_rf : ', r2_score(y_test, y_pred))

MAE_rf:  51.666666666666664
MSE_rf:  13750.0
r2_rf :  0.9999615114268298

In [25]:
pred_train = rf_pipe.predict(x_train)

In [26]:
# train accuracy
print('MAE_rf_t: ', mean_absolute_error(y_train, pred_train))
print('MSE_rf_t: ', mean_squared_error(y_train, pred_train))
print('r2_rf_t : ', r2_score(y_train, pred_train))

MAE_rf_t:  17.083333333333332
MSE_rf_t:  4604.166666666667
r2_rf_t :  0.9999846943863718

##### Linear Regression

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

lr = LinearRegression()
lr_pipe = make_pipeline(column_trans, StandardScaler(), lr)

In [28]:
lr_pipe.fit(x_train, y_train)
y_pred_lr = lr_pipe.predict(x_test)

In [29]:
# test accuracy
print('MAE_lr: ', mean_absolute_error(y_test, y_pred_lr))
print('MSE_lr: ', mean_squared_error(y_test, y_pred_lr))
print('r2_lr : ', r2_score(y_test, y_pred_lr))

MAE_lr:  2196.1755740811323
MSE_lr:  10098236.775422655
r2_lr :  0.9717333290893359

In [30]:
pred_lr_train = lr_pipe.predict(x_train)

In [31]:
# train accuracy
print('MAE_lr_t: ', mean_absolute_error(y_train, pred_lr_train))
print('MSE_lr_t: ', mean_squared_error(y_train, pred_lr_train))
print('r2_lr_t : ', r2_score(y_train, pred_lr_train))

MAE_lr_t:  1772.0732347375874
MSE_lr_t:  6436364.770924585
r2_lr_t :  0.9786036172263841

##### SVR

In [32]:
from sklearn.svm import SVR
svr = SVR(kernel = 'linear')
svr_pipe = make_pipeline(column_trans, StandardScaler(), svr)

In [33]:
svr_pipe.fit(x_train, y_train)
y_pred_svr = svr_pipe.predict(x_test)

In [34]:
# test accuracy
print('MAE_svr: ', mean_absolute_error(y_test, y_pred_svr))
print('MSE_svr: ', mean_squared_error(y_test, y_pred_svr))
print('r2_svr : ', r2_score(y_test, y_pred_svr))

MAE_svr:  14876.297208693264
MSE_svr:  416414161.1344768
r2_svr :  -0.16561359345190096

##### KNeighborsRegressor

In [35]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score

knr = KNeighborsRegressor()

In [36]:
knr_pipe = make_pipeline(column_trans, StandardScaler(),knr)

In [37]:
knr_pipe.fit(x_train, y_train)
y_pred_knr = knr_pipe.predict(x_test)

In [38]:
# test accuracy
print('MAE_svr: ', mean_absolute_error(y_test, y_pred_knr))
print('MSE_svr: ', mean_squared_error(y_test, y_pred_knr))
print('r2_svr : ', r2_score(y_test, y_pred_knr))

MAE_svr:  533.3333333333334
MSE_svr:  1328000.0
r2_svr :  0.9962827036239907

In [39]:
# train accuracy
y_pred_knr_train = knr_pipe.predict(x_train)
print('MAE_lr_t: ', mean_absolute_error(y_train, y_pred_knr_train))
print('MSE_lr_t: ', mean_squared_error(y_train, y_pred_knr_train))
print('r2_lr_t : ', r2_score(y_train, y_pred_knr_train))

MAE_lr_t:  430.0
MSE_lr_t:  3660000.0
r2_lr_t :  0.9878330760081852

In [40]:
# # saving the model in a pickle file
# import pickle

# rfr_model = 'rf_reg_model.pkl'
# pickle.dump(rf_pipe, open(rfr_model, 'wb'))